@model Restaurant.Web.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Product/_ProductLayout.cshtml";
}

<h2>ایجاد</h2>

@Html.Partial("_productForm", Model)
