@model Restaurant.Core.Entities.Product

@{
    ViewBag.Title = "حذف محصول";
    Layout = "~/Areas/Admin/Views/Product/_ProductLayout.cshtml";
}

<h2>Delete @Model.Name</h2>

@using (var frm = Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("productId",Model.Id)

    <input type="submit" value="Delete @Model.Name" class="btn btn-danger btn-lg"/>
}