@model Restaurant.Web.Areas.Admin.ViewModels.LoginViewModel

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fa">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>بازیابی رمز عبور</title>

    <meta name="description" content="......">
    <meta name="author" content="......">
    <meta name="robots" content="......">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/Areas/Admin/Content/img/favicon.png">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="~/Areas/Admin/Content/img/icon180.png" sizes="180x180">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap.rtl.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/themes.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) -->
    <script src="~/Areas/Admin/Scripts/js/vendor/modernizr-3.3.1.min.js"></script>
</head>
<body>
    <!-- Full Background -->
    <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
    <img src="~/Areas/Admin/Content/img/placeholders/layout/login2_full_bg.jpg" alt="Full Background" class="full-bg animation-pulseSlow">
    <!-- END Full Background -->
    <!-- Login Container -->
    <div id="login-container" dir="rtl">
        <!-- Reminder Header -->
        <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
            <i class="fa fa-history"></i> <strong>یاد آوری کلمه عبور</strong>
        </h1>
        <!-- END Reminder Header -->
        <!-- Reminder Block -->
        <div class="block animation-fadeInQuickInv">
            <!-- Reminder Title -->
            <div class="block-title">
                <div class="block-options pull-left">
                    <a href="@Url.Action("Login","Admin")" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="right" title="بازگشت به صفحه ورود"><i class="fa fa-user"></i></a>
                </div>
                <h2>یاد آوری</h2>
            </div>
            <!-- END Reminder Title -->
            <!-- Reminder Form -->
            <form id="form-reminder" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="RecoveryPassword" name="RecoveryPassword" class="form-control" placeholder="رمز عبور" value="@Model.RecoveryPassword">
                    </div>
                </div>
            </form>
            <!-- END Reminder Form -->
        </div>
        <!-- END Reminder Block -->
        <!-- Footer -->
        <footer class="text-muted text-center animation-pullUp">
            <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/RcsdAh" target="_blank">AppUI 2.7</a></small>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Login Container -->
    <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
    <script src="~/Areas/Admin/Scripts/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Areas/Admin/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Scripts/js/plugins.js"></script>
    <script src="~/Areas/Admin/Scripts/js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="~/Areas/Admin/Scripts/js/pages/readyLogin.js"></script>
    <script>
    $(function () {
        ReadyLogin.init();
    });
    </script>
</body>

</html>
